In [ ]:
import pandas as pd
data = {
    'transaction_id': ['T001', 'T002', 'T003', 'T004', 'T002', 'T005'],
    'product_category': ['electronics', 'Electronics', 'ELECTRONICS', 'groceries', 'Electronics', 'Groceries'],
    'sales': [2500, None, 2700, 350, None, 410],
    'date': ['2024-03-01', '2024-03-01', '2024-03-01', '2024-03-01', '2024-03-01', '2024-03-02']
}

df = pd.DataFrame(data)

# 1. Handle Missing Sales Values
# Option 1: Drop rows with missing sales values
df = df.dropna(subset=['sales'])

# Or Option 2: Fill missing sales values with a placeholder (e.g., mean or 0)
# df['sales'] = df['sales'].fillna(0)

# 2. Standardize Product Categories (convert all to lowercase)
df['product_category'] = df['product_category'].str.lower()

# 3. Remove Duplicate Entries
df = df.drop_duplicates(subset=['transaction_id'])

# Final cleaned dataset
print("Cleaned Data:")
print(df)

Cleaned Data:
  transaction_id product_category   sales        date
0           T001      electronics  2500.0  2024-03-01
2           T003      electronics  2700.0  2024-03-01
3           T004        groceries   350.0  2024-03-01
5           T005        groceries   410.0  2024-03-02